*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    

}
body{
    background-color:lightgray;
    
}
    
    nav{
        padding: 20px 10%;
        height: 15vh;

    }
    nav ul{
        display: flex;
        align-items: center;
        gap: 5%;
        font-weight: 700;
    }
    button{
        background-color: rgb(33, 135, 33);
        color: white;
    }
    button:hover{
        background-color: white;
        color: black;
    }

  
    #left main{
        display: flex;
    }
#images{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
